{% extends 'events/events_base.html' %}
{% load static %}
{% load l10n %}

{% block title %}Past Events{% endblock %}

{% block events_content %}
<div class="container mt-4">
    <h1>Past Events</h1>
    <ul class="list-group">
        {% for event in events %}
            <li class="list-group-item">
                <a href="{% url 'events:event_detail' event.pk %}">{{ event.title }}</a>
                <span class="text-muted">({{ event.start_time|date:"SHORT_DATETIME_FORMAT" }} - {{ event.end_time|date:"SHORT_DATETIME_FORMAT" }})</span>
            </li>
        {% empty %}
            <li class="list-group-item">No past events</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
